on: [push, pull_request, workflow_dispatch]
name: soldat
jobs:
  linux-build-smoke:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install cmake git fpc libprotobuf-dev protobuf-compiler libssl-dev libsdl2-dev libopenal-dev libphysfs-dev libfreetype6

      - name: Compile soldat
        run: |
          export BUILD_ID=${GITHUB_SHA::8}
          mkdir build
          cd build
          cmake .. -DCMAKE_INSTALL_PREFIX=./soldat -DCMAKE_BUILD_TYPE=Release
          make
          make install
          cmake .. -DBUILD_CLIENT=0 -DCMAKE_INSTALL_PREFIX=./soldatserver -DCMAKE_BUILD_TYPE=Release
          make install

  appimage:
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0 # Otherwise `git describe --tags` doesn't work

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install cmake git fpc libprotobuf-dev protobuf-compiler libssl-dev libsdl2-dev libopenal-dev libphysfs-dev libfreetype6

      - name: Compile soldat
        run: |
          export BUILD_ID=${GITHUB_SHA::8}
          mkdir build
          cd build
          cmake .. -DCMAKE_INSTALL_PREFIX=./soldat/AppDir -DCMAKE_BUILD_TYPE=Release
          make
          make install
          make clean
          cmake .. -DBUILD_CLIENT=0 -DCMAKE_INSTALL_PREFIX=./soldatserver/AppDir -DCMAKE_BUILD_TYPE=Release
          make install

      - name: Build AppImages
        run: |
          ./.github/workflows/make-appimage.sh build/soldat client
          ./.github/workflows/make-appimage.sh build/soldatserver server

      - name: Upload client AppImage
        uses: actions/upload-artifact@v2
        with:
          name: appimages
          path: build/soldat/*.AppImage

      - name: Upload server AppImage
        uses: actions/upload-artifact@v2
        with:
          name: appimages
          path: build/soldatserver/*.AppImage

  windows:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Cache fpc
        id: fpc
        uses: actions/cache@v2
        with:
          path: C:\fpc
          key: freepascal

      - name: Cache vcpkg
        id: vcpkg-cache
        uses: actions/cache@v2
        with:
          path: C:\vcpkg\installed
          key: vcpkg-cache

      - name: Download freepascal
        if: steps.fpc.outputs.cache-hit != 'true'
        run: |
          curl -o C:\fpc32.exe ftp://mirror.freemirror.org/pub/fpc/dist/3.0.4/i386-win32/fpc-3.0.4.i386-win32.exe
          curl -o C:\fpc64.exe ftp://mirror.freemirror.org/pub/fpc/dist/3.0.4/i386-win32/fpc-3.0.4.i386-win32.cross.x86_64-win64.exe

      - name: Install freepascal
        if: steps.fpc.outputs.cache-hit != 'true'
        run: |
           C:\fpc32.exe /silent /nocancel /suppressmsgboxes=no
           C:\fpc64.exe /silent /nocancel /suppressmsgboxes=no
        shell: cmd

      - name: Install dependencies
        run: |
          vcpkg.exe --triplet x64-windows install sdl2 physfs openssl protobuf freetype openal-soft

      - name: Build soldat
        run: |
          call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" x64
          set PATH=%PATH%;C:\fpc\3.0.4\bin\i386-win32
          set OPENSSL_ROOT_DIR=C:\vcpkg\installed\x64-windows
          set PHYSFSDIR=C:\vcpkg\installed\x64-windows
          set BUILD_ID=%GITHUB_SHA:~0,8%
          mkdir build
          cd build
          cmake -G "NMake Makefiles" -DCROSS_WINDOWS_64=1 -DCMAKE_BUILD_TYPE=Release -DCMAKE_TOOLCHAIN_FILE="C:\vcpkg\scripts\buildsystems\vcpkg.cmake"  -DSDL2_BUILDING_LIBRARY=1 ..
          nmake
        shell: cmd

      - uses: actions/upload-artifact@v2
        with:
          name: windows-build
          path: build/bin/

  macos:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Install dependencies
        run: |
          brew install openssl@1.1 protobuf fpc cmake sdl2 physfs freetype2

      - name: Compile soldat
        run: |
          export BUILD_ID=${GITHUB_SHA::8}
          mkdir build
          cd build
          export PKG_CONFIG_PATH=$PKG_CONFIG_PATH:/usr/local/opt/openssl@1.1/lib/pkgconfig
          cmake -DCMAKE_INSTALL_PREFIX=./soldat -DOPENSSL_ROOT_DIR=$(brew --prefix openssl@1.1) ..
          make
          make install

      - uses: actions/upload-artifact@v2
        with:
          name: macos-build
          path: build/soldat

  continuous:
    runs-on: ubuntu-latest
    needs: [appimage, windows, macos]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Download artifacts
        uses: actions/download-artifact@v3

      - name: Zip build dirs back together
        run: |
          zip -r windows-build.zip windows-build
          zip -r macos-build.zip macos-build

      - name: Upload release
        uses: softprops/action-gh-release@fe9a9bd3295828558c7a3c004f23f3bf77d155b2
        with:
          tag_name: continuous
          files: |
            windows-build.zip
            macos-build.zip
            appimages/*.AppImage
          body: Soldat 1.8 alpha dev build
          name: Soldat 1.8 alpha dev build
